@using PagedList;
@using PagedList.Mvc;

@model IEnumerable<MVCTraining.ViewModels.TrackSpendingViewModel2>

@{
    Layout = null;
    var area = ViewContext.RouteData.DataTokens["area"];
    string CurrentArea = area == null ? "" : area.ToString();
}

<div class="row">
    <div class="col-md-12">
        <table class="table table-bordered table-hover">
            <tr>
                <th>#</th>
                <th>類別</th>
                <th>日期</th>
                <th>金額</th>
                @if (User.IsInRole("管理者") && CurrentArea.Equals("Admin"))
                {
                    <th>異動</th>
                }
            </tr>

            @{
                var i = 1;
                foreach (var item in Model)
                {
                    var categoryName = item.Categoryyy == 1 ? "支出" : "收入";
                    var categoryColor = item.Categoryyy == 1 ? "red" : "blue";
                    <tr>
                        <td>
                            @(i)
                        </td>
                        <td>
                            <span style="color:@(categoryColor);">@(categoryName)</span>
                        </td>
                        <td>
                            @(item.Dateee.ToString("yyyy-MM-dd"))
                        </td>
                        <td>
                            @(String.Format("{0:#,0}", item.Amounttt))
                        </td>
                        @if (User.IsInRole("管理者") && CurrentArea.Equals("Admin"))
                        {
                            <td><a href="@Url.Action("Edit", "Homework2", new { area = "Admin", id= item.Id})">修改</a></td>
                        }
                    </tr>
                    i++;
                }
            }

        </table>

    </div>
</div>
