@model MVCTraining.Models.AccountBook

@{
    ViewBag.Title = "我的記賬本";
}

<div class="well">
    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()
    @*<form class="form-horizontal" action="/Homework1/Index" method="post">*@
        @Html.ValidationSummary()
        <div class="form-group">
            @Html.Label("Categoryyy", "類別", new { @class = "col-sm-2 control-label" })
            <div class="col-sm-10">
                <select id="Categoryyy" name="Categoryyy" class="form-control">
                    <option value="" selected>請選擇</option>
                    <option value="1">支出</option>
                    <option value="2">收入</option>
                </select>
                @Html.ValidationMessageFor(model => model.Categoryyy, "", new { @class = "text-danger"}) 
            </div>
        </div>
        <div class="form-group">
            @Html.Label("Amounttt", "金額", new { @class = "col-sm-2 control-label" })
            <div class="col-sm-10">
                @Html.TextBox("Amounttt", null, new { @class = "form-control", @placeHolder = "金額", @type = "number" })
                @Html.ValidationMessageFor(model => model.Amounttt, "", new { @class = "text-danger"})
            </div>
        </div>
        <div class="form-group">
            @Html.Label("Dateee", "日期", new { @class = "col-sm-2 control-label" })
            <div class="col-sm-10">
                @Html.TextBox("Dateee", null, new { @class = "form-control", @placeholder = "日期", @type = "date" })
                @Html.ValidationMessageFor(model => model.Dateee, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group">
            @Html.Label("Remarkkk", "備註", new { @class = "col-sm-2 control-label" })
            <div class="col-sm-10">
                @Html.TextArea("Remarkkk", new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.Remarkkk, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group">
            <div class="col-sm-offset-8 col-sm-4">
                <button id="btn" type="submit" class="btn btn-default">送出</button>
            </div>
        </div>
    @*</form>*@
    }
</div>

@*在送出後資料驗證部分遇到障礙，須將填寫表單以及列表的Model分開，故將Partial改成ChildAction *@
@Html.Action("ForIndexChild")

